<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alankar.awesometutorials">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:name=".AwesomeTutorialApplication"
        android:supportsRtl="true">

        <activity android:name=".DemoOverlayActivity"
            android:theme="@style/OverlayTutorialTheme"/>
    </application>

</manifest>
